header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  nav {
    display: flex;
    div {
      margin: auto 1em;
      font-size: 25px;
    }
  }
}
#addCat {
  margin-bottom: 50px;
}
.addWord {
  width: 250px;
  margin: auto;
}
#catPts {
    text-align: center;
}
#categorias {
  display: flex;
  flex-wrap: wrap;
}
.btnBar{
  display: flex;
  justify-content: center;
}
.btnRemoveCat {
    position: absolute;
    right: 0;
    border-radius: 50%;
}
.btnRemoveWord{
  margin: 6px;
  border-radius: 10px;
}
.card {
  border: 1px solid gray;
  border-radius: 10px;
  width: 350px;
  position: relative;
//   height: 600px;
  &__titulo {
    text-align: center;
    font-size: 30px;
  }
  &__lista {
    list-style: none;
    padding: 0;
    li {
      color: red;
      text-align: center;
      font-size: 21px;
    }
  }
}
